.filter-card-container{
    flex-wrap: wrap;
    width: 50%;
    margin-left: 5rem;
}
.filter-tag{
    padding: .5rem .9rem;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 8px;
}
.track-container{
    display: flex;
}
.m-2{
    margin-top: 1rem;
}
.toughness1{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loading-container {
    color: white;
}