html{
  height: 100vh;
  background-color: #0a1929;


}
.title{
  text-align: center;
  color: white;
  font-size: 4rem;
}
.App{
  margin: 0 auto;
  width: 100%;
 

}
.cardholder-container {
 display: flex;
 justify-content: space-between;
  margin: 0 auto;
width: 90%;
}
.App-header {
}
.cardholder-indi-container{
  width: 100%;
  margin-right: 2rem;
}
.filter-card-indi{
  display: flex;
 flex-direction: column;
 align-items: end;
  width: 50%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .cardholder-container {
    display: block;
   }
   .App{
    margin: 0 auto;
    width: 100%;
  }
  .cardholder-indi-container{
    width: 80%;
   margin: 0 auto;
  }
  .filter-card-indi{
    width: 90%;
    margin: 0 auto;
  }
}
